<h1>Profile</h1>
<p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
