<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Home street number:</strong>
  <%= @profile.home_street_number %>
</p>

<p>
  <strong>Home street name:</strong>
  <%= @profile.home_street_name %>
</p>

<p>
  <strong>Home suburb:</strong>
  <%= @profile.home_suburb %>
</p>

<p>
  <strong>Home city:</strong>
  <%= @profile.home_city %>
</p>

<p>
  <strong>Home state:</strong>
  <%= @profile.home_state %>
</p>

<p>
  <strong>Home post code:</strong>
  <%= @profile.home_post_code %>
</p>

<p>
  <strong>Home country:</strong>
  <%= @profile.home_country %>
</p>

<p>
  <strong>Ship street number:</strong>
  <%= @profile.ship_street_number %>
</p>

<p>
  <strong>Ship street name:</strong>
  <%= @profile.ship_street_name %>
</p>

<p>
  <strong>Ship suburb:</strong>
  <%= @profile.ship_suburb %>
</p>

<p>
  <strong>Ship city:</strong>
  <%= @profile.ship_city %>
</p>

<p>
  <strong>Ship state:</strong>
  <%= @profile.ship_state %>
</p>

<p>
  <strong>Ship post code:</strong>
  <%= @profile.ship_post_code %>
</p>

<p>
  <strong>Ship country:</strong>
  <%= @profile.ship_country %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<% if policy(@profile).update? %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%end%>
<%= link_to 'Back', profiles_path %>
