<p id="notice"><%= notice %></p>
<p>.</p>
<div class="tracking">
<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Home street number:</strong>
  <%= @profile.home_street_number %>
</p>

<p>
  <strong>Home street name:</strong>
  <%= @profile.home_street_name %>
</p>

<p>
  <strong>Home suburb:</strong>
  <%= @profile.home_suburb %>
</p>

<p>
  <strong>Home city:</strong>
  <%= @profile.home_city %>
</p>

<p>
  <strong>Home state:</strong>
  <%= @profile.home_state %>
</p>

<p>
  <strong>Home post code:</strong>
  <%= @profile.home_post_code %>
</p>

<p>
  <strong>Home country:</strong>
  <%= @profile.home_country %>
</p>

<p>
  <strong>Ship street number:</strong>
  <%= @profile.ship_street_number %>
</p>

<p>
  <strong>Ship street name:</strong>
  <%= @profile.ship_street_name %>
</p>

<p>
  <strong>Ship suburb:</strong>
  <%= @profile.ship_suburb %>
</p>

<p>
  <strong>Ship city:</strong>
  <%= @profile.ship_city %>
</p>

<p>
  <strong>Ship state:</strong>
  <%= @profile.ship_state %>
</p>

<p>
  <strong>Ship post code:</strong>
  <%= @profile.ship_post_code %>
</p>

<p>
  <strong>Ship country:</strong>
  <%= @profile.ship_country %>
</p>

<p>
  <strong>Order:</strong>
  <%= Order.last.order_quantity %>
</p>


<% if Order.where(user_id: current_user.id).exists?%>

<h2 class="order-heading"> Your Orders </h2>
 
<% Order.where(user_id: current_user.id).last(6).each do |x| %><div class="wrapper">
<div class="iframe"></div>
  <p>Order Placed at:</p>
  <p><%= x.created_at %></p>

  <p>Order Quantity:
<%= x.order_quantity %></p>

<% Proposal.where(id: x.proposal_id).each do |p| %>
  <p><%= p.product_name %></p>
<%end%>
  <p>
    Amount paid: $
    <%= x.amount_paid %>
  </p>

  <p>
    ETA:
    <%= Proposal.where(id: x.proposal_id).last.eta %>
  </p>


<p>Container Location:</p>
<div class="refresh">
<%= button_to "Press to update", profile_path, :method => :get %>
</div>
  <script type="text/javascript"> width='100%';
    height='450';	
    border='1';	
    shownames='true';	
    zoom='9';
    maptype='0';	
    OpenStreetMap trackvessel='566748000';	
  </script><script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>
  </br>
  </br>
  </div>
</div>
  <%end%>
  <%end%>
</div>
<% if policy(@profile).update? %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
<%end%>
<%= link_to 'Back', root_path %>
