 <%# <section id="contact">
 <div class="container">
                  <form name="contact" method="POST">
            
                    <p>
                      <label><span>Your Name: </span><input type="text" name="name"></label>   
                    </p>
                    <p>
                      <label><span> Email: </span><input type="email" name="email"></label>
                    </p>
                    <p>
                      <label><span>Message: </span><textarea name="message" style="height:200px"></textarea></label>
                    </p>
                    <p>
                      <button id="send-button" type="submit">Send</button>
                    </p>
                  </form>
                  
</div>
</div> %>

<section id="contact">
<div class="container">
<%= form_for :contact do |f| %>
<p>
<span><%=f.label :name %></span>
<%= f.text_field :name %>
</p>
<p>
<span><%=f.label "Email" %></span>
<%= f.text_field :user_email %>
</p>
<p>
<span><%=f.label :message %></span>
<%= f.text_area :message , cols: "30", rows: "5"%>
</p>
<p id="send">
<%=f.submit "Submit"%>
</p>
<%end%>
</div>
</div>
