<h1>Pages#home</h1>


<h2>Categories</h2>
<li>
<%= link_to "Machinery", '/index'%>
</li>
<li>
<%= link_to "Building Materials", '/index'%>
</li>
<li>
<%= link_to "Consumer Electronics", '/index'%>
</li>
<li>
<%= link_to "Home & Garden", '/index'%>
</li>
<li>
<%= link_to "Apparel", '/index'%>
</li>
<li>
<%= link_to "Packaging & Printing", '/index'%>
</li>
<li>
<%= link_to "Sports & Entertainment", '/index'%>
</li>
<li>
<%= link_to "Automotive and Motorcycles", '/index'%>
</li>   

