<h1>Pages#home</h1>


<h2>Categories</h2>
<li>
<%= link_to "Machinery", '/proposals/index'%>
</li>
<li>
<%= link_to "Building Materials", '/proposals/index'%>
</li>
<li>
<%= link_to "Consumer Electronics", '/proposals/index'%>
</li>
<li>
<%= link_to "Home & Garden", '/proposals/index'%>
</li>
<li>
<%= link_to "Apparel", '/proposals/index'%>
</li>
<li>
<%= link_to "Packaging & Printing", '/proposals/index'%>
</li>
<li>
<%= link_to "Sports & Entertainment", '/proposals/index'%>
</li>
<li>
<%= link_to "Automotive and Motorcycles", '/proposals/index'%>
</li>   

