<%= form_tag charge_proposal_path(@proposal) do %>   
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>amount $ <%= (Order.where(user_id: current_user.id).last.order_quantity)*(@proposal.cost_per_unit).to_i %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= (Order.last.order_quantity)*(@proposal.cost_per_unit)*100 %>"
          data-description="<%= @proposal.description %>"
          data-email="<%= current_user.email %>"
          data-locale="auto"></script>
          
<% end %>