<%= form_with(model: proposal, local: true) do |form| %>
  <% if proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :proposal_product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :proposal_description %>
  </div>

  <div class="field">
    <%= form.label :cost_per_unit %>
    <%= form.text_field :cost_per_unit, id: :proposal_cost_per_unit %>
  </div>

  <div class="field">
    <%= form.label :weight_per_unit %>
    <%= form.text_field :weight_per_unit, id: :proposal_weight_per_unit %>
  </div>

  <div class="field">
    <%= form.label :min_order_quantity %>
    <%= form.number_field :min_order_quantity, id: :proposal_min_order_quantity %>
  </div>

  <div class="field">
    <%= form.label :full_order_quantity %>
    <%= form.number_field :full_order_quantity, id: :proposal_full_order_quantity %>
  </div>

  <div class="field">
    <%= form.label :eta %>
    <%= form.text_field :eta, id: :proposal_eta %>
  </div>

  <div class="field">
    <%= form.label :"Image" %>
    <%= form.text_area :img1_data, id: :proposal_img1_data %>
  </div>

  <div class="field">
    <%= form.label :"Image 2" %>
    <%= form.text_area :img2_data, id: :proposal_img2_data %>
  </div>

  <div class="field">
    <%= form.label :"Image 3" %>
    <%= form.text_area :img3_data, id: :proposal_img3_data %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :Category_id %> 
    <%# <%= form.text_field :Category_id, id: :proposal_Category_id %> 
  <%# </div> %>
  
  <div class="field">
  <%= form.label "Category" %>
  <%= form.collection_select(:category_id, Category.all, :id, :label) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>