<p id="notice"><%= notice %></p>
<div id="home">
<h1>Proposals</h1>

    <% @proposals.each do |proposal| %>
     <div class="wrapper">
<table>
  <tbody>
      
        <th>Product</th>
        <td><%= proposal.product_name %></td>
      </tr>
       <tr>
        <th>Cost per unit</th>
        <td><%= proposal.cost_per_unit %></td>
      </tr>
      <tr>
        <th>Weight per unit</th>
        <td><%= proposal.weight_per_unit %></td>
      </tr>
      <tr>
         <th>Min order quantity</th>
        <td><%= proposal.min_order_quantity %></td>
      </tr>
      <tr>
        <th>Full order quantity</th>
        <td><%= proposal.full_order_quantity %></td>
      </tr>
      <tr>
        <th>Eta</th>
        <td><%= proposal.eta %></td>
      </tr>
      <tr>
        <td><%if proposal.img1_url%>
            <%= image_tag proposal.img1_url, size: '260x180'%>
            <%else%>
            No images
            <%end%>
        </td>
        <td><%if proposal.img2_url%>
            <%= image_tag proposal.img2_url, size: '260x180' %>
            <%else%>
            <%end%>
        </td>
      </tr>
        
        <td><%= link_to 'Show', proposal %></td>
        <% if policy(proposal).update? %>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <%end%>
      </tr>
  </tbody>
</table>
  
        <p class="description">Description</p>
        <p class="description"><%= proposal.description %></p>
        
    </div>
    <% end %>
<br>
  </div>
<%= link_to 'New Proposal', new_proposal_path %>
