<p id="notice"><%= notice %></p>

<h1>Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Description</th>
      <th>Cost per unit</th>
      <th>Weight per unit</th>
      <th>Min order quantity</th>
      <th>Full order quantity</th>
      <th>Eta</th>
      <th>Img1 data</th>
      <th>Img2 data</th>
      <th>Img3 data</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.product_name %></td>
        <td><%= proposal.description %></td>
        <td><%= proposal.cost_per_unit %></td>
        <td><%= proposal.weight_per_unit %></td>
        <td><%= proposal.min_order_quantity %></td>
        <td><%= proposal.full_order_quantity %></td>
        <td><%= proposal.eta %></td>
        <td><%if proposal.img1_url%>
            <%= image_tag proposal.img1_url, size: '260x180'%>
            <%else%>
            No images
            <%end%>
        </td>
        <td><%if proposal.img2_url%>
            <%= image_tag proposal.img2_url, size: '260x180' %>
            <%else%>
            <%end%>
        </td>
        <td><%if proposal.img3_url%>
            <%= image_tag proposal.img3_url, size: '260x180' %>
            <%else%>
            <%end%>
        </td>
        <td><%= proposal.user_id %></td>
        <td><%= proposal.category_id %></td>
        <td><%= link_to 'Show', proposal %></td>
        <% if policy(proposal).update? %>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <%end%>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
