   
<p id="notice"><%= notice %></p>
<div class="show">
<div class="buy">
<%if Order.exists?%>
<%if Order.where(user_id: current_user.id).last.created_at > (Time.now - 10.seconds) && Order.where(user_id: current_user.id).last.order_quantity >= @proposal.min_order_quantity %>
  <% if user_signed_in? %>
    <%= render 'charge_form', Proposal: @proposal, user: current_user %>
  <% else%>
  <div class="buy-button">
    <%= link_to new_user_registration_path, class: 'stripe-button-el' do %>
    <span style="display: block; min-height: 30px;">Pay Now</span>
    </div>
  <%end%>
    <%end%>
<%end%>

<%end%>
</div>
<%if !Order.exists?%>

<p>
  <strong>Product name:</strong>
  <%= @proposal.product_name %>
</p>

<p>
  <strong>Cost per unit:</strong>
  <%= @proposal.cost_per_unit %>
</p>

<p>
  <strong>Weight per unit:</strong>
  <%= @proposal.weight_per_unit %>
</p>

<p>
  <strong>Min order quantity:</strong>
  <%= @proposal.min_order_quantity %>
</p>

<p>
  <strong>Full order quantity:</strong>
  <%= @proposal.full_order_quantity %>
</p>

<p>
<%  %>
<strong>Items remaining before shipment commences:</strong>
<%  %>
<%= @items_remaining %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @proposal.eta %>
</p>

<p> 
  <%if @proposal.img1_url%>
  <%= image_tag @proposal.img1_url, size: '500x300'%>
  <%else%>
  "No image"
  <%end%>
</p>

<p>
  <%if @proposal.img2_url%>
  <%= image_tag @proposal.img2_url, size: '500x300' %>
  <%else%>
  <%end%>
</p>

<p>
  <%if @proposal.img3_url%>
  <%= image_tag @proposal.img3_url, size: '500x300' %>
  <%else%>
  <%end%>
</p>

<p>
  <strong>Category:</strong>
  <%= @proposal.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proposal.description %>
</p>

 <%= form_tag place_order_path(id: @proposal.id, charge_identifier: 1), method: :post do %>
   <p><%= label_tag 'Enter order quantity' %></p>
   <p><%= number_field_tag 'order_quantity' %></p>
   <p><%= submit_tag 'Place Order' %></p>
 <% end %>


 <div class="frame">
<p>
<% if @proposal.url != "" && @proposal.url != nil %>
<iframe width="1000" height="800", sandbox="allow-forms allow-same-origin allow-scripts" src="<%= @proposal.url %>"</iframe>
<%end%>
</p>
</div>


<% elsif Order.last.created_at < (Time.now - 5.second) %>

<p>
  <strong>Product name:</strong>
  <%= @proposal.product_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @proposal.category_id %>
</p>


<p>
  <strong>Cost per unit:</strong>
  <%= @proposal.cost_per_unit %>
</p>

<p>
  <strong>Weight per unit:</strong>
  <%= @proposal.weight_per_unit %>
</p>

<p>
  <strong>Min order quantity:</strong>
  <%= @proposal.min_order_quantity %>
</p>

<p>
  <strong>Full order quantity:</strong>
  <%= @proposal.full_order_quantity %>
</p>

<p>
<strong>Items remaining before shipment commences:</strong>
<%= @items_remaining %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @proposal.eta %>
</p>


<p> 
  <%if @proposal.img1_url%>
  <%= image_tag @proposal.img1_url, size: '500x300'%>
  <%else%>
  "No image"
  <%end%>
</p>

<p>
  <%if @proposal.img2_url%>
  <%= image_tag @proposal.img2_url, size: '500x300' %>
  <%else%>
  <%end%>
</p>

<p>
  <%if @proposal.img3_url%>
  <%= image_tag @proposal.img3_url, size: '500x300' %>
  <%else%>
  <%end%>
</p>

<p>
  <strong>Description:</strong>
  <%= @proposal.description %>
</p>

 <%= form_tag place_order_path(id: @proposal.id, charge_identifier: 1), method: :post do %>
   <p><%= label_tag 'Enter order quantity' %></p>
   <p><%= number_field_tag 'order_quantity' %></p>
   <p><%= submit_tag 'Place Order' %></p>
<% end %>



   <div class="frame">
<p>
<% if @proposal.url != "" && @proposal.url != nil %>
<iframe width="1000" height="800", sandbox="allow-forms allow-same-origin allow-scripts" src="<%= @proposal.url %>"</iframe>
<%end%>
</p>
</div>
 
<%end%>
<div class="footer">
<%= link_to 'Back', "/all_proposals/#{@proposal.category_id}" %>
</div>
</div>
