<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Play|Roboto+Slab" rel="stylesheet">
  <%# <script type="text/javascript" src="http://www.marinetraffic.com/js/embed.js"></script> %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Vimport</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://checkout.stripe.com/v3/checkout/button.css"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
  <body>
   <div id="navbar">
             <%= link_to "Home", root_path %>
             |
             <%= link_to "About", '/pages/about'%>
             |
             <% if user_signed_in? %>
             <%= link_to "Profile", "/profiles/#{current_user.id}/edit"%>
             |
             <% else %>
             <%= link_to('Login', new_user_session_path)  %>
             |
             <%end%>
             <%= link_to "Contact", '/pages/contact'%>
  </div>
  
    <%= yield %>
  </body>
<%# <footer> %>
<%# <% if user_signed_in? %> 
  <%# <li> %>
  <%# <%= link_to('Logout', destroy_user_session_path, method: :delete) %>         
  <%# </li> %>
<%# <% else %> 
  <%# <li> %>
  <%# <%= link_to('Login', new_user_session_path)  %>   
  <%# </li> %>
<%# <% end %> 

<%# <% if user_signed_in? %> 
<%# <%= link_to('Profile', "/profiles/#{current_user.id}/edit") %> 
<%# <% end %> 
<%# </footer> %>
<%# </html> %>
