<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Vimport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://checkout.stripe.com/v3/checkout/button.css"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <div id="navbar">
            <a href="#landing">Home</a>
             |
             <a href="#about-header">About</a>
             |
             <a href="#portfolio-header">Categories</a>
             |
             <a href="#contact">Contact</a>
  </div>
    
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
<footer>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<% if user_signed_in? %>
<%= link_to('Profile', "/profiles/#{current_user.id}/edit") %>
<% end %>
</footer>
</html>
